# Toggle between production and local development
IS_PRODUCTION=false

# Production
PRODUCTION_API_URL=https://openlittermap.com
PRODUCTION_WEB_URL=https://openlittermap.com

# Local development
LOCAL_API_URL=http://192.168.1.28:8000
LOCAL_WEB_URL=https://olm.test

# Sentry DSN for error tracking (only used when IS_PRODUCTION=true)
SENTRY_DSN=
